.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

<<<<<<< HEAD
/* Menu container */
.menu {
  width: 100%;
  background-color: white; /* Default background */
}

/* Each menu item */
.menu-item {
  padding: 15px 20px;
  text-align: left;
  font-size: 18px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect - turns entire row blue */
.menu-item:hover {
  background-color: blue;
  color: white;
  width: 100%;
}

=======
>>>>>>> f2c74ba4b5f2d570e666875c8d33be62127bcd2e
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
<<<<<<< HEAD

=======
>>>>>>> f2c74ba4b5f2d570e666875c8d33be62127bcd2e
